@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  @apply bg-black text-white ;
  text-rendering: optimizeSpeed;
}
body{
  font-family: "Montserrat", sans-serif;
  padding: 2rem;

}